{% extends 'html/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'admin/css/main.css' %}">
<div class="container">
    <div class="row g-0">
        <div class="col-sm-6 col-md-8" id="header-text">
            <h1 id="header-h1">Welcome to <br> the home page.</h1>
            <p id="header-paragraph">You can see all players and games. <br> You can search for opponents.</p>
            <a class="btn" style="color: white; background-color: #7f0cd7;"" type="submit" id="body-link-row">Search</a>
        </div>
        <div class="col-6 col-md-4" id="header-image"><img src ="" alt=""></div>
    </div>
</div>
    

{% endblock content %}